*
{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    height: 1000px;
}

.navbar
{
    background-color:black;
   overflow: hidden;
   position: fixed;
   top:0px;
   width: 100%;
   z-index: 10;
}
.nav-logo img
{
    width:120px;
    height: 50px;
    position: absolute;
    top:5px;
    left: 50px;
    transition: .5s linear;
}
.navIcons
{
    font-size: 30px;
    position: absolute;
    right:15px;
    top:15px;
    display: none;
    color: white;
}
.nav-item
{
    float: right;
    list-style-type: none;
}
.nav-item:hover .nav-link
{
    color: greenyellow;
}
.nav-link
{
    color:white;
    text-decoration: none;
    padding: 15px 50px;
    display: block;
}

#home
{
    background-color: black;
    width:100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    position: relative;
}
.home-content
{
    z-index: 1;
    max-width: 1200px;
    margin: 10px;
}
.home-head-title
{
    text-align: center;
    
}
.home-head-title h1
{
    font-size: 5em;

}
.home-button
{
    border: 3px solid white;
    padding: 20px 60px;
    border-radius: 50px;
    color:white;
    text-decoration: none;
    position: relative;
    z-index: 1;
    font-weight: bold;
   transition: .5s ease-in-out;
  
}
.home-button:hover
{
    background-color: white;
    color: black;
}

.joystick-img
{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
   
}
.joystick-img img
{
    width:600px;
    height: 600px;
    transform: rotate(41deg);
    transition: .5s linear;
}
.sec1-img img
{
    width: 600px;
    height: 600px;
}
.section1-content
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}
.sec1-content-title
{
    width:600px;
    padding: 40px;
}
.sec1-content-title h1
{
    font-size: 4em;
}
.sec1-button,.sec5-btn
{
    background-color: black;
    color: white;
    padding: 15px 60px;
    border-radius: 50px;
    text-decoration: none;
}
.bottom-dec
{
    content: "";
    width:100px;
    height: 10px;
    background:linear-gradient(to right,yellowgreen,yellow);
    border-radius: 50px;
    display: inline-block;
}
#section2
{
    background-color: black;
    width:100%;
    padding: 20px;
    position: relative;
    overflow: hidden;
   
}
.sec2-c-title
{
    text-align: center;
    padding: 50px;
    color:white;
    position: relative;
    z-index: 1;
   
}
.sec2-content
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: relative;
    z-index: 1;

}
.sec2-games
{
    width:300px;
    height: 500px;
    margin: 10px;
    position: relative;
}
.sec2-games:hover .sec2-tag
{
    width:100%;
    height: 100%;
}

.sec2-tag
{
    background:linear-gradient(to bottom,rgba(0, 0, 0, 0.596),rgba(0, 0, 0, 0.527));
    transition: .5s ease-in-out;
    width:100px;
    height: 100px;
    color: white;
    font-weight: bold;   
    overflow: hidden;
    position: relative;
    
}
.sec2-tag-title
{
    text-align: center;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    
}
.sec2-tag-btn a:hover
{
    background-color: white;
    color: black;
}
.sec2-tag-btn a
{
    text-decoration: none;
    border:3px solid white;
    color: white;
    padding: 10px 60px;
    margin-top: 100px;
    display: inline-block;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    word-wrap: normal;
}
.sec2-games:nth-child(1)
{
    background:url("https://wallpapercave.com/wp/wp5789666.jpg")no-repeat;
    background-size: cover;
}
.sec2-games:nth-child(2)
{
    background: url("https://i.ibb.co/QYjfR5q/unnamed.jpg")no-repeat;
    background-size: cover;
}
.sec2-games:nth-child(3)
{
    background: url("https://wallpapercave.com/wp/wp7879583.jpg")no-repeat;
    background-size: cover;
}
.sec2-games:nth-child(4)
{
    background: url("https://i.ibb.co/55kYrd6/Adb7G8y.jpg")no-repeat;
    background-size: cover;
}

.sec2-bg-image
{
    position: absolute;
    top:0px;
    left: 0px;
    width:700px;
    height: 400px;
   
}
#section3
{
    background:linear-gradient(to right bottom,#000428,#004e92);
    width:100%;
    height:100vh;
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    
}
.sec3-content
{
  margin-left: 80px;
  color: white;
  z-index: 1;
  width: 600px;
}
.sec3-bg-img
{
    position: absolute;
    bottom:0px;
    right:0px;
}
.sec3-bg-img img
{
    width:800px;
    height: 800px;
}
#section4
{
    width:100%;
    padding: 20px;
    position: relative;
    z-index: 1;
    
}
.sec4-content
{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
    padding: 40px;
    
}
.sec4-c
{
    text-align: center;
    padding: 40px;
}

.sec4-icon
{
    background-color: crimson;
    color:white;
    font-size: 50px;
    padding: 10px;
    border-radius:20px;
}
.sec4-c-title
{
    text-align: center;
    padding: 50px;
}
.sec5-bg-img
{
    position: absolute;
    top:0px;
    width:650px;
    height: 650px;
    
}
.sec5-content
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:50px;
    background:linear-gradient(to right bottom ,gold,goldenrod);
    
}
.sec5-c-title,.sec5-c-img
{
    width:650px;
    height: 650px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec5-c-img
{
    background:linear-gradient(to right bottom,#141E30,#243B55);
    position: relative;
    overflow: hidden;
}
.sec5-c-text
{
    margin: 20px;
    text-align: center;
}
#section6
{
    background:linear-gradient(to right bottom,#021B79,#0575E6);
    width:100%;
    height: 700px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.sec6-bg-img
{
    width:900px;
    height: 600px;
    position: absolute;
    z-index: 1;
    top:55%;
    left:50%;
    transform: translate(-50%,-50%);
}
.sec6-content
{
    z-index: 9;
}
.sec6-c-title
{
    z-index: 1;
    color: white;
    text-align: center;
    margin-top: 50px;
}
.sec6-c-title h1
{
    font-size: 7em;
    text-shadow: 10px 10px 30px#0575E6;
}

#section7
{
   
    width:100%;
    height: auto;
    
}
.sec7-content
{   display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    align-items: center;
    padding: 100px;
   
}
.sec7-title
{
    position: absolute;
    bottom: 40px;
    left: 40px;
}
.sec7-c
{
    color: white;
    width:300px;
    height: 300px;
    overflow: hidden;
    transition: .1s ease-in-out;
    position: relative;
   
}
.sec7-c a
{
    color: white;
    text-decoration: none;
    background-color: yellowgreen;
    padding: 5px 20px;
}
.sec7-c:hover
{
    transform: scale(1.1);
    box-shadow: 10px 10px 30px black;
}
.sec7-c:nth-child(1)
{
    grid-column: 1/3;
    width: 600px;
    grid-row:1/3 ;
    height: 600px;
    background:url("https://i.ibb.co/6y4WJ7X/wallpaper-total-war-warhammer-2-the-prophet-and-the-warlock-01-1920x1080.jpg") no-repeat;
    background-size: cover;
   
}
.sec7-c:nth-child(2)
{
    background: url("https://i.ibb.co/q97z8nm/wallpaper-ridge-racer-unbounded-02-1920x1080.jpg")no-repeat;
    background-size: cover;
}
.sec7-c:nth-child(3)
{
    background: url("https://i.ibb.co/wJSmL3N/wallpaper-crysis-fan-art-01-1920x1080.jpg")no-repeat;
    background-size: cover;
}
.sec7-c:nth-child(4)
{
    background: url("https://i.ibb.co/wJSmL3N/wallpaper-crysis-fan-art-01-1920x1080.jpg")no-repeat;
    background-size: cover;
}
.sec7-c:nth-child(5)
{
    background: url("https://i.ibb.co/wJSmL3N/wallpaper-crysis-fan-art-01-1920x1080.jpg")no-repeat;
    background-size: cover;
}
.sec6-btn
{
    background-color: white;
    padding: 10px 50px;
    color: black;
    text-decoration: none;
    font-weight: bold;
    border-radius: 50px;
}
#section8
{
    background:linear-gradient(to right bottom,#d2e603,#3e978b);
    width:100%;
    height: 600px;
    position: relative;
    overflow: hidden;
   
}
.sec8-c
{
    text-align: center;
    position: absolute;
    top:50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%,-50%);
  
}
.sec8-c h1
{
    font-size: 5em;
    font-weight: bold;
    color: white;
    text-shadow: #1024d3 10px 10px 30px;
}
.white-joy-stick
{
    position: absolute;
    top:90%;
    left:50%;
    transform: translate(-50%,-50%);
}
.sec8-btn
{
    border: 3px solid white;
    padding: 10px 50px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-radius: 50px;
}
.sec8-btn:hover
{
    background-color: white;
    color: black;
}
footer
{
    background-color: black;
}

.footer
{
    display: flex;
    justify-content: space-evenly;
    padding: 60px;
}
.f-c
{
    color:white;
    line-height: 35px;
    text-align: center;
}
.f-c:nth-child(1)
{
    width:350px;
}
.f-c:nth-child(5) a
{
    font-size: 30px;
    margin-left: 20px;
}
.f-c a
{
    color: rgb(201, 199, 199);
    text-decoration: none;
    font-size: 13px;
}



@media screen and (max-width:850px)
{
    .home-head-title h1,.sec1-content-title h1
    {
        font-size: 3em;
    }
    .navIcons
    {
        display: block;
    }
    .nav-logo img
    {
        left: 30px;
    }
    .navbar
    {
        padding-top: 60px;
    }   
    .nav-item
    {
        margin-top: 30px;
        text-align: center;
        float: none;
    }
    .joystick-img img
    {
        width:400px;
        height: 400px;
    }
    .sec1-content-title
    {
        max-width: 100%;
        padding: 0px;
    }
    .sec1-img img
    {
    width: 450px;
    height: 450px;
    }
    .sec2-content
    {
        flex-direction: column;
    }
    .sec4-content
    {
        grid-template-columns: auto auto;
    }
    .sec5-content
    {
        flex-direction: column-reverse;
        padding: 10px;
    }
    .sec5-c-title,.sec5-c-img
    {
        width:100%;
        height: 500px;
    }
    .sec5-bg-img
    {
        width:400px;
        height: 500px;
    }
    #section6
    {
        height: 300px;
       
    }
  
    .sec6-c-title h1
    {
        font-size: 5em;
    }
    .sec6-bg-img
    {
        width:500px;
        height: 300px;
        overflow: hidden;
    }
    .footer
    {
    
        flex-direction: column;
    }
    .f-c:nth-child(1)
{
    max-width:100%;
}
    
}
@media screen and (max-width:950px)
{
    .section1-content
    {
        flex-direction: column;
    }
    .sec1-img img
{
    width: 500px;
    height: 500px;
}
.sec7-content
{
    grid-template-columns: auto auto;
}
.sec7-c:nth-child(1)
{
    width:300px;
    height: 300px;
    grid-column:auto;
    grid-row: auto;
}

}
  @media screen and (max-width:650px)
  {
      #home,#section1,#section2,#section3,#section4,#section5
      {
          overflow: hidden;
      }
    .home-button
    {
        padding: 10px 25px;
    }
    .home-head-title h1,.sec1-content-title h1,.sec8-c h1
    {
        font-size: 3em;
    }
    .sec1-content-title
    {
        text-align: center;
    }
    
    
    .joystick-img img
    {
        width:300px;
        height: 300px;
    }
   
    .sec1-img img
    {
    width: 250px;
    height: 250px;
    }
    .sec2-games
    {
        width: 100%;
    }
    .sec2-content
    {
        padding: 0px;
    }
    .sec3-bg-img img
{
    width:500px;
    height: 500px;
}
.sec3-content
{
    margin: 10px;
    text-align: center;
}

.sec4-content
    {
        grid-template-columns: auto;
    }
    .sec4-c
    {
        padding: 10px;
    }
    .sec4-c-title,.sec2-c-title
    {
        padding: 10px;
    }

    .sec5-c-img
    {
        width:100%;
        height: 300px;
    }
    .sec5-c-title
    {
        width:100%;
        height: 400px;
    }
    .sec5-c-title h1
    {
        font-size: 25px;
    }
    .sec5-bg-img
    {
        width:150px;
        height: 200px;
        top:20%;
    }
    .sec6-c-title h1
    {
        font-size: 3em;
    }
    
    .sec6-bg-img
    {
        width:100%;
        height: 200px;
        overflow: hidden;
    }
    .sec7-content
    {
        grid-template-columns: auto;
       padding: 30px;
       padding-top: 100px;
    }
    .sec7-c
    {
        max-width:100%;
    }
    .sec7-c:nth-child(1)
{
    width:100%;
    height: 300px;
    grid-column:auto;
    grid-row: auto;
}

  }  